<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> %% username %%'s portfolio page</title>
    <<link rel="stylesheet" href="%% url_for('static', filename='css/portfolio.css') %%">
</head>
<body>
	
	<!-- partial:index.partial.html -->
<div class="animateme">
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<!-- partial -->


   <center>
       <button class = "bstyle"> <a href="/">Home</a> </button>
    <button class = "bstyle"> <a href="/profile">Profile</a> </button>
    <button class = "bstyle"> <a href="/logout">Logout</a> </button>
</center>
<br>
  <center>  <p>Here will be your cryptoportfolio</p> </center>
</body>
</html>