<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> %% username %%'s profile page</title>
    <link rel="stylesheet" href="%% url_for('static', filename='css/profile.css') %%">
</head>
<body>

	<!-- partial:index.partial.html -->
<div class="animateme">
  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<!-- partial -->


<br>
   <center>
       <button class = "bstyle"> <a href="/">Home</a> </button>
    <button class = "bstyle"> <a href="/portfolio">Portfolio</a> </button>
    <button class = "bstyle"> <a href="/logout">Logout</a> </button>
</center>
<br>


<center><h1>Welcome, %% username %%!</h1></center>
</body>
</html>